[user]
	name = Ryan Wilson-Perkin
	email = ryanwilsonperkin@gmail.com

[core]
	pager = delta
	excludesfile = ~/.gitignore_global
	editor = nvim

[init]
	defaultBranch = main

[push]
	default = current
	autoSetupRemote = true

[pull]
	rebase = false
	ff = only

[rebase]
	autoStash = true
	autosquash = true

[rerere]
	enabled = true

[clean]
	requireForce = true

[alias]
	cleanup = "!git branch --merged | grep -v '\\*\\|main\\|master' | xargs git branch -d"

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections
	syntax-theme = base16
[include]
	path = /Users/ryan/.config/dev/gitconfig
[maintenance]
	repo = /Users/ryan/world/git
