[submodule "oh-my-zsh/.oh-my-zsh"]
	path = zsh/.zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	branch = master
[submodule "vim/.vim/bundle/vundle"]
	path = vim/.vim/bundle/vundle
	url = http://github.com/gmarik/vundle.git
	branch = master
